<span class="arrow"></span>
<span class="arrow-border"></span>
<div class="hint-menu">
{{#each listGrouped as |listItem index|}}
  {{#if (or listItem.section token.sectionTitle)}}
    <div class="section-header">
      <hr>
      <span class="header-label">{{or listItem.section token.sectionTitle}}</span>
    </div>
  {{/if}}
  {{#if listItem.list.length}}
  <ul class='slack-search-input-list'>
    {{#each listItem.list as |item|}}
      <li onmousedown={{action 'selectItem' item.index}} class='{{if (eq item.index currentIndex) "current"}}'>
        <b>{{item.value}}</b> <span class='modifier-value'>{{item.label}}</span>
      </li>
    {{/each}}
  </ul>
  {{/if}}
{{/each}}
</div>
